<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <div class="row ml-1">
            <a class="navbar-brand text-primary" href="/admin">Admin</a>
            <a class="navbar-brand text-secondary" href="/">User</a>
        </div>
            <form class="d-flex" action="/admin/adminLogout">
                <button class="btn btn-outline-primary" style="font-size: small;" type="submit">Log out</button>
            </form>
        </div>
    </nav>
</body>